* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: rgb(158, 146, 130);
}

.dataList {
  gap: 20px;
}
